.share-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0 10px;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(25, 25, 25, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.share-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 15px 20px;
}

.share-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96.5%;
  margin-bottom: 10px;
}

.share-input {
  opacity: 0.47;
}

.share-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 10px;
}

.share-bottom {
  width: 100%;
}

.share-options {
  display: flex;
  justify-content: space-around;
}

.share-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.share-option-text {
  font-size: 1rem;
  margin-left: 5px;
}

.share-icon {
  font-size: 24px;
}

.preview-image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 640px;
  max-height: 20rem;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--ultra-dark);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 8px rgba(25, 25, 25, 0.15);
  z-index: 70;
}

.preview-image>img {
  width: 100%;
  max-height: 20rem;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 0.5rem;
}

.preview-icon {
  margin-left: -45px;
  padding: 10px;
}