.sideBar-container {
  flex: 3;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 70px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.sidebar-list {
  padding: 0;
  margin: 0;
}

.sidebar-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-icon-linked {
  margin-right: 15px;
  color: var(--white);
}

.sidebar-icon {
  margin-right: 15px;
  color: var(--gray-60);
}

.sidebar-false-btn {
  margin-right: 20px;
  color: var(--gray-60);
  background-color: var(--dark);
  border: 1px solid var(--gray-60);
  cursor: default;
}

.sidebar-title {
  align-self: flex-start;
  margin: 1rem 0 1rem 1rem;
}

.sidebar-people-list {
  padding: 0;
  margin: 0;
}

.sidebar-person {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.sidebar-person-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 10px;
}