:root {
  --ultra-night: hsl(251, 30%, 20%);
  --ultra-dark: hsl(251, 30%, 25%);
  --dark: hsl(251, 30%, 35%);
  --gray: hsl(251, 30%, 85%);
  --gray-60: hsl(251, 30%, 85%, 0.6);
  --white: hsl(251, 30%, 95%);
  --dark-red: hsl(343, 60%, 35%);
  --light-green: hsl(80, 51%, 50%);
  --aqua: hsla(179, 71%, 50%);
  --aqua-30: hsla(179, 71%, 50%, 0.3);
  --fire: hsl(44, 88%, 50%);
  --fire-30: hsl(44, 88%, 50%, 0.3);
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--dark);
}

*,
::before,
::after {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

html {
  overflow-x: hidden;
  color: var(--gray);
  background-color: var(--ultra-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
Link:hover {
  color: var(--light-green);
}

a:focus,
a:active,
Link:focus,
Link:active {
  color: var(--gray);
}

strong {
  color: inherit;
  font-weight: 500
}

ul {
  list-style: none;
}

button {
  align-self: flex-end;
  font-weight: 500;
  padding: 7px 10px;
  border-radius: 5px;
  background-color: var(--light-green);
  border: none;
  cursor: pointer;
}

input,
textarea {
  display: flex;
  width: 89%;
  height: 30px;
  padding-left: 20px;
  border-radius: 15px;
  background-color: var(--dark);
  opacity: 0.7;
  border: none;
}

input:focus-within,
textarea:focus-within {
  outline: 1px solid var(--white);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: var(--gray);
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: var(--gray);
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: var(--gray);
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: var(--gray);
}

input::placeholder,
textarea::placeholder {
  color: var(--gray);
}

input[type="password"],
input[type="email"],
input[type="text"],
textarea {
  color: var(--white);
  font-weight: 500;
}

main {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

p {
  color: var(--gray-60);
}

span {
  color: inherit;
  background-color: var(--ultra-dark)
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: var(--gray);
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: var(--dark-red);
  background-color: var(--white);
  border: 1px solid var(--dark-red);
}